<navbar class="navbar-homepage"></navbar>

<script type="text/javascript">
    //http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&sensor=true
    //geolocation();
</script>
<!--<div class="container">-->
<div class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-text">Home Finder</h1>
        <p class="jumbotron-text">Where Finding A Home Is Made Easy</p>
        <p><a href="/search" class="btn btn-primary btn-large">See All Listings</a>
        </p>
    </div>
</div>
<!--<div>-->

<div ng-show="vm.haveInfo" >
    <div class="container-fluid">
        <div class="row">
            <div class="container thumbnail col-xs-12 col-sm-6 col-md-4 col-lg-3" style="background:url({{post.imageURL}}) no-repeat center;" ng-repeat="post in info | orderBy:'timestamps':true | startFrom:currentPage*pageSize | limitTo:pageSize">
               <a href="/post/{{post._id}}">
                   <div class="thumb">
                       <!--<img class= "thumbnail" class="img-responsive" src="{{post.imageURL}}"> -->
                       <p>
                           Sale: ${{post.sale}} Rent: ${{post.rent}}
                           <br>
                           {{post.address}} , {{post.zipcode}}
                       </p>
                   </div>
                </a>
            </div>
            <div ng-repeat-end></div>
        </div>
        <div class="pagecount">
            <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn" ng-disabled="currentPage >= info.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>


