<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>finder</title>
    <!-- BOOTSTRAP JQUERY ANGULAR -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-resource.js"></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <base href="/" />
</head>

<body>

    <div ng-view></div>


    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.js"></script>
    <!--  -->
    <script src="services/authtoken.js"></script>
    <script src="components/register/register.controller.js"></script>
    <script src="components/nav/nav.controller.js"></script>
    <script src="components/login/login.controller.js"></script>
    <script src="components/register/register.directive.js"></script>
    <script src="components/nav/nav.directive.js"></script>
    <script src="components/profile/profile.controller.js"></script>

</body>

</html>
