<navbar></navbar>

<div id="search-wrapper">
<!--<div ng-show="vm.haveInfo" >-->
    <div id="sidebar-wrapper">
        <h4 style="color:gray" >Refine by</h4>
        <ul id= "sidebar-elements" class="nav nav-pills nav-stacked">
            <li>
                    <h4>Price</h4>  
                    <div id="sidebar-price">
                        <form class="form-inline" >    
                            $<input class="form-control" type="text">to $<input  class="form-control" type="text">
                        </form>
                         <button class="btn">Custom Price</button> 
                     </div>
            </li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
        </ul>
    </div>

    <div id="sidebar-toggle">
        <button id="search-toggle-button" class="btn btn-lg glyphicon glyphicon-th-list"></button>
    </div>

    <div id="search-content"class="container-fluid">
        <div class="row">
                <div class="thumbnail col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="post in info | orderBy:'timestamps':true | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <a href="/post/{{post._id}}">
                        <div  class="thumb" style="background:url({{post.imageURL}}) no-repeat center;">
    <!--
                            <img class= "thumbnail" class="img-responsive" src="{{post.imageURL}}"> -->
                            <p>
                                Sale: ${{post.sale}} Rent: ${{post.rent}}
                                <br>
                                {{post.address}} , {{post.zipcode}}
                            </p>
                        </div>
                    </a>
                    </div>
                <div ng-repeat-end></div>
        </div>
        <div class="pagecount">
            <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn" ng-disabled="currentPage >= info.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>
<!--</div>-->


