<navbar class="navbar-search">
    <!--<div id="sidebar-toggle" class="navbar-right">-->
    <!--</div>-->
</navbar>

<button id="sidebar-toggle" style:"float:left;"
    class="pull-left btn btn-lg glyphicon glyphicon-th-list">
</button>


<div id="search-wrapper">
<!--<div ng-show="vm.haveInfo" >-->
    <div id="sidebar-wrapper">
        <h4 style="color:gray" >Refine by</h4>
        <!--<ul id= "sidebar-elements" class="nav nav-pills nav-stacked">-->
        <div id= "sidebar-elements">
                    <h4>Rent Price</h4>  
                    <a href="#">Under $500</a>
                    <a href="#">From $500-$1500</a>
                    <a href="#">From $500-$1500</a>
                    <a href="#">From $1500-$3500</a>
                    <a href="#">From $3500-$5000</a>
                    <a href="#">Over $5000</a>
                    <div id="sidebar-price">
                        $<input class="form-control" type="text">to $<input  class="form-control" type="text">
                         <button class="btn btn-primary">Custom Price</button> 
                     </div>

                    <h4>Sell Price</h4>  
                    <a href="#">Under $100,000</a>
                    <a href="#">From $100,000-$300,000</a>
                    <a href="#">From $300,000-$500,000</a>
                    <a href="#">From $500,000-$800,000</a>
                    <a href="#">From $800,000-$1,000,000</a>
                    <a href="#">Over $1,000,000</a>
                    <div id="sidebar-price">
                        $<input class="form-control" type="text">to $<input  class="form-control" type="text">
                         <button class="btn btn-primary">Custom Price</button> 
                     </div>
            
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
            <li><a href="#">Section</a></li>
        </div>
    </div>

    <div id="search-content"class="container-fluid">
        <div class="row">
                <div class="thumbnail col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="post in info | orderBy:'timestamps':true | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <a href="/post/{{post._id}}">
                        <div  class="thumb" style="background:url({{post.imageURL}}) no-repeat center;">
    <!--
                            <img class= "thumbnail" class="img-responsive" src="{{post.imageURL}}"> -->
                            <p>
                                Sale: ${{post.sale}} Rent: ${{post.rent}}
                                <br>
                                {{post.address}} , {{post.zipcode}}
                            </p>
                        </div>
                    </a>
                    </div>
                <div ng-repeat-end></div>
        </div>
        <div class="pagecount">
            <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn" ng-disabled="currentPage >= info.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>
<!--</div>-->


