.navbar{
   margin-bottom: 0px;
}

/*Home Page*/
  .jumbotron {
    /*/height: 500px;*/
    color: lightgrey;
    background: url("assets/naturehouse.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
  }

  .jumbotron-text {  
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  }

  .pagecount {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
   }

   .thumbnail{
     height:250px;
   }

   .thumb{
     height:240px;
     background-size:100%;
   }

   .thumb p{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px #000;
    text-align: center;
    color: white;
    font-size: 20px;
  }
   /*img.thumbnail{
    position: relative; 
   }

   p.thumbnail{
     position: absolute; 
     top: 50px; 
   }*/
/*Home Page*/

/*Sidebar on Search Page*/

#sidebar-wrapper {
  z-index: 1s;
  position: absolute;
  width : 200px;
  height: 75%;
  overflow-y:hidden;
  background-color: #f5f5f5;
}
#sidebar-toggle{
  position:absolute;
  padding-left:14px;
  padding-top:25px;
  visibility: hidden;
}
#search-content{
  width:100%;
  padding-left:215px;
  position: absolute;
}

@media (max-width: 660px) {
  #sidebar-wrapper  {
    width:0px
  }

  #sidebar-toggle{
    position:relative; /*Moves the search content down*/
    visibility: visible;
  }
  #search-content {
    padding:25px;
  }
}

#search-wrapper.toggleSidebar #sidebar-wrapper {
   width:160px;
}

#search-wrapper.toggleSidebar #search-content{
   padding-left:175px;
}
#search-wrapper.toggleSidebar #sidebar-toggle{
   padding-left:175px;
} 
