/*Home Page*/
  .jumbotron {
    /*/height: 500px;*/
    color: lightgrey;
    background: url("assets/naturehouse.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
  }

  .jumbotron-text {  
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  }

  .pagecount {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
   }

   .thumbnail{
     height:250px;
   }

   .thumb{
     height:240px;
     background-size:100%;
   }

   .thumb p{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
    color: lightgray;
    font-size: 20px;
  }
   /*img.thumbnail{
    position: relative; 
   }

   p.thumbnail{
     position: absolute; 
     top: 50px; 
   }*/
/*Home Page*/

/*Profile Page*/
  #profileRemButton {
      background-color: red;
  }
/*Profile Page*/

/*CSS for Profile Page*/
#profileRemButton {
    background-color: red;
}

