/*Custom css*/

h1{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

#form{
    text-align: right;
}

footer {
    margin: 50px 0;
}

form h2{
    text-align: center;
}

img{
  height: 530;
  width: 300;
}
