/*Sidebar on Search Page*/

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width : 200px;
  height: 100%;
  overflow-y:hidden;
  background-color: #dcdcdc;
}

#sidebar-wrapper h4{
  text-indent:20px;
}


#sidebar-wrapper li{
  text-indent:20px;
}
#sidebar-wrapper a{
  text-indent:20px;
  line-height:20px;
  color:black;
  text-decoration: none;
  display:block;
  /*margin:none;
  padding:none;*/
}

#sidebar-wrapper a:hover{
  color:orange
}


#sidebar-price{
  text-indent:0px;
  margin-top:10px;
}
#sidebar-price button{
  left:85px;
  position:relative;
  margin-top:5px;
}

#sidebar-price input{
  width: 80px;
}

#sidebar-toggle{
  position:absolute;
  padding-left:14px;
  padding-top:25px;
  visibility: hidden;
}
#search-content{
  width:100%;
  padding-left:215px;
  position: absolute;
}

@media (max-width: 660px) {
  #sidebar-wrapper  {
    width:0px
  }

  #sidebar-toggle{
    position:relative; /*Moves the search content down*/
    visibility: visible;
  }
  #search-content {
    padding:25px;
  }
}

#search-wrapper.toggleSidebar #sidebar-wrapper {
   width:200px;
}

#search-wrapper.toggleSidebar #search-content{
   padding-left:215px;
}
#search-wrapper.toggleSidebar #sidebar-toggle{
   padding-left:215px;
} 
