<html>
  <head>
    <title>Tabs Directive</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
    <script src="profil_app.js"></script>
  </head>
  <body ng-app="app">
    <h1>Profile Account</h1>
      <tabset>
          <tab heading="My Account">
              Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea
              graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id,
              eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum
              nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr
              corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri,
              omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea
              noluisse deterruisset sea.
           </tab>

          <tab heading="Bookmark">Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea
              graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id,
              eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum
              nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr
              corrumpit.
          </tab>

          <tab heading="Selling">Nibh maiestatis voluptatum has no, at est inermis epicuri,
              omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea
              noluisse deterruisset sea.
          </tab>
          
      </tabset>
  </body>
</html>

