<navbar></navbar>

<div class="container" ng-show="vm.haveInfo" ng-submit="vm.submit()">
    <div class="row">
        <div class="col-md-4">
            <img src="{{commentInfo.imageURL}}"style="width:300px;height:300px;">
        </div>
        <div class="col-md-4">
            <h2>
                {{commentInfo.title}}
            </h2>
            <p>
                {{commentInfo.address}}, {{commentInfo.zipcode}}
            </p>
            <p>
                {{commentInfo.content}}
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <h3>For Sale</h3> ${{commentInfo.sale}} 
                <h3>To Rent</h3> ${{commentInfo.rent}}
            </p>
        </div>
        <div class="col-md-2">
            <h3>Contact</h3> {{commentInfo.createdBy.fullname}}
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <form>
            <div class="form-group">
                    <!--<label for="content">Comment</label>-->
                    <textarea class="form-control" rows="5" placeholder="Comment" id="content" ng-model="vm.post.content"></textarea>
            </div>
            <div>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <h3>Comments</h3>
    </div>
    <div class="col-md-12" ng-repeat="x in commentInfo.comments | orderBy:'timestamps':true">
        <p>
            {{x.createdBy.fullname}}
        </p>
        <p>
            {{x.content}}
        </p>
        <hr>
    </div>

    </div>
<!--
    <form>
        <div class="form-group">
                <label for="content">Comment</label>
                <textarea class="form-control" rows="5" placeholder="Comment" id="content" ng-model="vm.post.content"></textarea>
        </div>
        <div>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </form>-->

</div>
